name: {{ workflow.name }}

on:
  push:
    branches:
      - main

jobs:
  {{ workflow.name | lower | replace(' ', '-') }}:
    runs-on: ubuntu-latest
    steps:
      {% for job in workflow.jobs %}
      - name: {{ job.name }}
        run: |
          {% for step in job.steps %}
          {{ step | indent(12) }}
          {% endfor %}
      {% endfor %}
